<div class="card card-custom gutter-b">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">SkillSet Matrix</h3>
      </div>
    </div>
    <div class="card-body">
      <!-- begin:Table -->
      <div class="table-responsive angular-bootstrap-table">
        <table id="tablebox" class="table table-head-custom table-vertical-center ">
          <thead>
          <tr *ngFor="let skillSet of skillSetMatrixService.items$ | async">
            <th nowrap >
              ID
            </th>
            <th nowrap >
              USER NAME
            </th>

            <th nowrap >
              {{ skillSet.skillId }}
            </th>
            
            <th nowrap >
              
            </th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let userSkillSet of userSkillSetMatrixService.items$ | async">
              <td>
                {{ userSkillSet.userId }}
              </td>
              <td>{{ userSkillSet.userName }}</td>
              <td style ="text-align:center" >
                <label>
                  <input type="checkbox" name="select1" />
                  <span></span>
                </label> 
              </td>
              <td style ="text-align:center" >
                <label>
                  <input type="checkbox" name="select2" />
                  <span></span>
                </label> 
              </td>
              <td style ="text-align:center" >
                <label>
                  <input type="checkbox" name="select3" />
                  <span></span>
                </label> 
              </td>
              <td style ="text-align:center" >
                <label>
                  <input type="checkbox" name="select4" />
                  <span></span>
                </label> 
              </td>
              <td style ="text-align:center" >
                <label>
                  <input type="checkbox" name="select5" />
                  <span></span>
                </label> 
              </td>
              <td style ="text-align:center" >
                <label>
                  <input type="checkbox" name="select6" />
                  <span></span>
                </label> 
              </td>
              <td style ="text-align:center" >
                <label>
                  <input type="checkbox" name="select7" />
                  <span></span>
                </label> 
              </td>
              <td>
                <button type="submit" class="btn btn-primary btn-elevate" (click)="save()">Save</button>
              </td> 
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end: Table -->
      
    </div>
  </div>
