
th.sticky-header {

  position: sticky;
  left:0px;
  background-color:#d5d5d5;

}

.table > tbody > tr > td:nth-child(1) {
  position: sticky;
  left:0px;
  background-color:#d5d5d5;

}
#tablebox thead tr th:nth-of-type(2){
  position: sticky;
  left:55px;
  background-color:#d5d5d5;

}

.table > tbody > tr > td:nth-child(2) {
  position: sticky;
  left:55px;
  background-color:#d5d5d5;

}
#tablebox thead tr th:nth-of-type(2){
  position: sticky;
  left:55px;
  background-color:#d5d5d5;

}

.table > tbody > tr > td:nth-child(2) {
  position: sticky;
  left:55px;
  background-color:#d5d5d5;

}

th {
  background: white;
  position: sticky;
  top: 0;
}

table {
  width: 100%;
}
left {
  justify-content: left;
}

mat-header-cell, mat-cell {
  justify-content: center;
}
th.mat-sort-header-sorted {
  color: black;
}
span
{
  white-space: pre;
}
#link{
  cursor:pointer;
  color:blue;
  text-decoration:underline;
}
