<div class="card card-custom gutter-b">
  <div class="form form-label-right">
    <div class="card-header">
          <div class="form-group row">
            <div class="card-title">
              <h3 class="card-label">Team Transfer List</h3>
          </div>
          <div class="col-lg-1"></div>

                <div class="col-lg-2">
                  <label>Transfer Type :</label>
                   <select class="form-control form-control-lg" [(ngModel)]="type" (change)="setType()">
                  <option value="Group">Group Transfer</option>
                  <option value="Team">Team Transfer</option>
                  <option value="TeamMember">Team Member Transfer</option>
             </select>
             </div>

              <div class="col-lg-2">
                <label>Assign To :</label>
                 <select  class="form-control form-control-lg"
                 name="transferTo"
                 [(ngModel)]="transferTo"
                 (change)="setTransferTo($event.target.value)"
               >
                 <option [ngValue]="0" [selected]="true">Transfer To Team/Group</option>
                 <option
                   *ngFor="let transferTo of transferToList"
                   [ngValue]="transferTo.value"
                 >
                   {{ transferTo.label }}
                 </option>

           </select>
           </div>
           <div class="col-lg-2" style="text-align: center;">
            Add&nbsp;Reporties<br/><br/>
            <input type="checkbox" id="transferReportees"  name="transferReportees" />

          </div>
          <div class="col-lg-2">
            &nbsp;<br/>
          <button type="button" class="btn btn-primary" (click)="transferUserList()">Transfer</button>
          </div>
        </div>
          </div>

      <div class="card-body">
      <div class="form-group row" [formGroup]="searchGroup">
          <div class="col-lg-2">
            <ng-container *ngIf="showDepartment">
              <label>Department</label>
              <select
                class="form-control form-control-lg"
                name="department"
                [(ngModel)]="department"
                (change)="setDepartment($event.target.value)"
              >
                <option [ngValue]="0" [selected]="true">Select Department</option>
                <option
                  *ngFor="let department of departmentList"
                  [ngValue]="department.departmentId"
                >
                  {{ department.departmentName }}
                </option>
              </select>
            </ng-container>
            <ng-container *ngIf="!showDepartment">
              <label>Department</label><br />
              <span>{{ departmentName }}</span>
            </ng-container>
          </div>

          <div class="col-lg-2">
            <ng-container *ngIf="showDivision">
              <label>Division</label>
              <select
                class="form-control form-control-lg "
                name="division"
                [(ngModel)]="division"
                (change)="setDivision($event.target.value)"
              >
                <option [ngValue]="0" [selected]="true">Select Division</option>
                <option
                  *ngFor="let division of divisionList"
                  [ngValue]="division.divisionId"
                >
                  {{ division.divisionName }}
                </option>
              </select>
            </ng-container>
            <ng-container *ngIf="!showDivision">
              <label>Division</label><br />
              <span>{{ divisionName }}</span>
            </ng-container>
          </div>
          <div class="col-lg-2">

              <label>Group</label>
              <select
                class="form-control form-control-lg"
                name="division"
                [(ngModel)]="group"
                (change)="setGroup($event.target.value)"
              >
                <option [ngValue]="0" [selected]="true">Select Group</option>
                <option
                  *ngFor="let group of groupList"
                  [ngValue]="group.teamId"
                >
                  {{ group.teamName }}
                </option>
              </select>
          </div>
          <div class="col-lg-2">

              <label>Team</label>
              <select
                class="form-control form-control-lg"
                name="division"
                [(ngModel)]="team"
                (change)="setTeam($event.target.value)"
              >
                <option [ngValue]="0" [selected]="true">Select Team</option>
                 <option
                  *ngFor="let team of teamList"
                  [ngValue]="team.teamId"
                >
                  {{ team.teamName }}
                </option>
              </select>
          </div>
          <!--<div class="col-lg-2">

              <label>Designation</label>
              <select
                class="form-control form-control-lg form-control-solid"
                name="division"
                [(ngModel)]="group"
                (change)="setGroup($event.target.value)"
              >
                <option [ngValue]="0" [selected]="true">Select Designation</option>

              </select>
          </div>-->
          <div class="col-lg-2" >
            <label>Search</label>
            <div class="grid-container">
              <div class="grid-item">
                <input
                  type="search"
                  class="form-control"
                  name="searchText"
                  id="searchText"
                  placeholder="Search"
                  value=""
                  formControlName="searchTerm"
                />
              </div>
            </div>
          </div>
          <div class="col-lg-2" style="cursor: pointer">
            &nbsp;<br />&nbsp;
            <i
              title="Clear Filter"
              (click)="clearFilter()"
              class="fas fa-filter fa-2x"
            ></i>
          </div>


  </div>
  </div>
      </div>


      <div class="table-responsive angular-bootstrap-table">
          <table id="tablebox" class="table table-head-custom table-vertical-center ">
            <thead>
              <tr>

                 <th>
                      Check
                     <!-- <input type="checkbox" id="checkAllBox" (change)="checkAll()"/>-->

                  </th>
                  <th  >Team Member Name</th>
                  <th nowrap >Designation</th>



                  <th  >Reporting
                    Team Name</th>
                <th  >Reporting
                  TL Name </th>
              <th  >Reporting
                Group Name </th>
                <th  >Reporting
                  Project Leader Name </th>
                  <th > Reporting Manager</th>
                  <th nowrap >
                    Department

                  </th>

                <th nowrap >Division </th>



              <!--<th >Reporting  TL Name
              </th>
              <th >Reporting Group Name</th>
              <th >Reporting Project Leader Name</th>

              <th  >Reporting Manager</th>
            -->

            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let task of teamTransferService.items$ | async">
                  <td style="text-align: center;">
                      <input type="checkbox" id="{{task.employeeId}}"  name="workUnits" value="{{ task.employeeId }}"  (change)="checkBoxWorkUnit(task.employeeId)"/>
                  </td>

                  <td>
                    {{ task.fullName }}
                  </td>
                  <td>{{ task.roleName}}</td>
                  <td>
                    {{ task.teamName }}
                  </td>
                  <td>
                    {{ task.teamUser }}
                  </td>
                <td>
                  {{ task.groupName }}
                </td>
                <td>
                  {{ task.groupUser }}
                </td>
                <td>
                  {{ task.reportingManager }}
                </td>




                <td  nowrap>
                  {{ task.departmentName}}
                  </td>
                <td>

                  {{ task.divisionName }}</td>

               <!-- <td>
                  {{ task.fullName }}
                </td>
                <td>
                  {{ task.fullName }}
                </td> -->
              </tr>
            </tbody>
            </table>
            </div>
            <app-paginator
              class="d-flex justify-content-between align-items-center flex-wrap"
              [paginator]="paginator"
              [isLoading]="isLoading"
              (paginate)="paginate($event)"
            ></app-paginator>
  </div>
