


<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Approve TimeSheet </h3>
      <select class="form-control form-control-lg form-control-solid" name="monthYear" (change)="setMonth($event.target.value)">
        <option [ngValue]="0" [selected]=true>Select Week</option>
        <option *ngFor="let week of monthWeeklyList" [value]="week.value">
          {{ week.label }}
        </option>
      </select>
      &nbsp;&nbsp;
      <button type="button" id="TimeSheet" mat-mini-fab color="primary" (click)= "refresh()">
        <mat-icon >refresh</mat-icon>
      </button>
    </div>
<!--
      <div class="form-group row">

      <div class="col-lg-1">
      OR
      </div>
      <div class="col-lg-3">
      <label>From Date</label>
      <div class="input-group input-group-solid">
        <input type="text" name="fromDate"  class="form-control form-control-lg form-control-solid" autocomplete="off"
          placeholder="mm/dd/yyyy" ngbDatepicker  #fromDate="ngbDatepicker" formControlName="fromDate" readonly="true" (onChange)="setFromDate($event.target.value)" />
        <div class="input-group-append" (click)="fromDate.toggle()">
          <span class="input-group-text">
            <i class="text-dark-50 flaticon-calendar"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <label>To Date</label>
      <div class="input-group input-group-solid">
        <input type="text" name="toDate"  class="form-control form-control-lg form-control-solid" autocomplete="off"
          placeholder="mm/dd/yyyy" ngbDatepicker  #toDate="ngbDatepicker" formControlName="toDate" readonly="true" (ngModel)="toDate" (onChange)="setToDate($event.target.value)"/>
        <div class="input-group-append" (click)="toDate.toggle()">
          <span class="input-group-text">
            <i class="text-dark-50 flaticon-calendar"></i>
          </span>
        </div>
      </div>
      </div>
      <div class="col-lg-2">
        <label> &nbsp;</label>
        <button type="button" class="btn btn-primary btn-elevate" (click)="searchDates()" >Search</button>
      </div>
    </div>
-->
  </div>

    <!-- end: Filtration form -->


    <!-- begin:Table -->
    <div class="table-responsive angular-bootstrap-table">
      <table id="tablebox" class="table table-head-custom table-vertical-center ">
        <thead>
          <tr>
          <th style="text-align: center;" *ngFor="let day of timeSheetService.headers$ | async ">
            {{day}}

          </th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let approvalTimeSheet of timeSheetService.items$ | async">
            <td noWrap>{{ approvalTimeSheet.userName}} </td>
          <td style="text-align: center;" *ngFor="let timeSheet of approvalTimeSheet.timesheets">
            <span class="label label-lg label-inline" (click)= "showTimeSheet(approvalTimeSheet,timeSheet)" [class.label-light-danger]="timeSheet.symbol === 'L'"
              [class.label-light-success]="timeSheet.symbol === 'P12'" [class.label-light-success]="timeSheet.symbol === 'P8'"
              [class.label-light-success]="timeSheet.symbol === 'H'"[class.label-light-primary]="timeSheet.symbol === 'A'">
              <ng-container *ngIf="timeSheet.symbol === 'P8'">P8</ng-container>
              <ng-container *ngIf="timeSheet.symbol === 'P12'">P12</ng-container>
              <ng-container *ngIf="timeSheet.symbol === 'L'">L</ng-container>
              <ng-container *ngIf="timeSheet.symbol === 'A'">A</ng-container>
              <ng-container *ngIf="timeSheet.symbol === 'H'">H</ng-container>
              <ng-container *ngIf="timeSheet.symbol === '-'">N</ng-container>
            </span>
          </td>

          </tr>
        </tbody>
      </table>
    </div>
    <!-- end: Table -->
  </div>

