<div class="modal-content">
  <div class="progress progress-modal">
    <div
      class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
      role="progressbar"
      style="width: 100%"
      aria-valuenow="100"
      aria-valuemin="0"
      aria-valuemax="100"
    ></div>
  </div>
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      <b
        ><label class="heading">
          <!--         <ng-container >
        <ng-container *ngIf="projectId">Edit Project : {{projectId}} </ng-container>-->
          <ng-container>Create Road Type </ng-container>
          <!--     *ngIf="!projectId"   </ng-container>-->
        </label></b
      >
    </div>
    <button
      type="button"
      #closebutton
      class="close"
      data-dismiss="modal"
      (click)="modal.dismiss()"
    >
      &times;
    </button>
  </div>
  <div
    class="overlay overlay-block cursor-default modal-body"
    style="min-height: 404px"
  >
    <ng-container *ngIf="isLoading$ | async">
      <div class="overlay-layer bg-transparent">
        <div class="spinner spinner-lg spinner-success"></div>
      </div>
    </ng-container>

    <ng-container>
      <form action="#" class="form form-label-right" [formGroup]="formGroup">
        <div class="form-group row">
          <div class="col-lg-3">
            <label class="form-label"> Division</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="division" value="{{divisionId}}"
            readonly/>

            <!-- value="{{divisionId}}"-->
          </div>
          <div class="col-lg-3">
            <label class="form-label">Client Name</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="clientName" value="{{clientName}}"
            readonly/>



          </div>

          <div class="col-lg-3">
            <label class="form-label">Project Name</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="projectName" value="{{projectName}}"
            readonly/>


          </div>

          <div class="col-lg-3">
            <label class="form-label">Work Area (Alias Road Type)</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              name="roadName"
              placeholder="Work Area"
              autocomplete="off"
              [class.is-invalid]="isControlInvalid('roadName')"
              maxlength="50"
              [class.is-valid]="isControlValid('roadName')"
              formControlName="roadName"
            />
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'roadName')"
            >
              Work Area is required
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('minlength', 'roadName')"
            >
              Work Area should have at least 3 symbols
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('maxLength', 'roadName')"
            >
              Work Area should have maximum 50 characters
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-3">
            <label class="form-label">Benchmark Time (Minutes)</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              name="benchMark"
              placeholder="Benchmark Time"
              autocomplete="off"
              [class.is-invalid]="isControlInvalid('benchMark')"
              maxlength="50"
              [class.is-valid]="isControlValid('benchMark')"
              formControlName="benchMark"
            />
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'benchMark')"
            >
              BenchmarkTime is required
            </div>

          </div>



          <div class="col-lg-3">
            <label class="form-label">Units</label>
            <select
              class="form-control form-control-lg form-control-solid"
              name="units"
              [class.is-invalid]="isControlInvalid('units')"
              formControlName="units"
              placeholder="units"
            >
              <option value="Mins">Mins</option>
              <option value="Mile">Mile</option>
              <option value="Mins/Mile">Mins/Mile</option>
            </select>
          </div>

          <div class="col-lg-3">
            <label>Display Status </label>
            <select
              class="form-control form-control-lg form-control-solid"
              name="dStatus"
              [class.is-invalid]="isControlInvalid('dStatus')"
              formControlName="dStatus"
            >
              <option value="Active">Active</option>
              <option value="Inactive">Inactive</option>
            </select>
          </div>
          <div class="col-lg-3">

          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-3">
            <label class="form-label"> Production Benchmark </label>

            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              name="production"
              placeholder="Production Benchmark"
              autocomplete="off"
              [class.is-invalid]="isControlInvalid('production')"
              maxlength="50"
              [class.is-valid]="isControlValid('production')"
              formControlName="production"
            />

            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'production')"
            >
              Production Benchmark is required
            </div>
          </div>

          <div class="col-lg-3">
            <label class="form-label"> QC Benchmark </label>

            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              name="qualityControl"
              placeholder="QC Benchmark"
              autocomplete="off"
              [class.is-invalid]="isControlInvalid('qualityControl')"
              maxlength="50"
              [class.is-valid]="isControlValid('qualityControl')"
              formControlName="qualityControl"
            />

            <div
              claxxss="invalid-feedback"
              *ngIf="controlHasError('required', 'qualityControl')"
            >
              QC Benchmark is required
            </div>
          </div>

          <div class="col-lg-3">

          </div>
        </div>

        <div class="form-group row"></div>
      </form>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light btn-elevate mr-2"
      (click)="modal.dismiss()"
    >
      Cancel
    </button>

    <button type="submit" class="btn btn-primary btn-elevate" (click)="save()">
      {{ actionBtn }}
    </button>
  </div>
</div>
