<div class="card card-custom bg-gray-100 card-stretch gutter-b">
  <!-- Header -->
  <div class="card-header border-0 bg-danger py-5" style="background-color: #357493 !important;"
  >
    <h3 class="card-title font-weight-bolder text-white">My Performance</h3>
    <div class="card-toolbar">

    </div>
  </div>

<div class="card card-custom" [ngClass]="cssClass">
  <!-- Body -->
  <div class="card-body p-0">
    <div
      class="d-flex align-items-center justify-content-between card-spacer flex-grow-1"
    >

      <div class="d-flex flex-column text-right">
        <div id="kt_mixed_widget_14_chart" style="height: '200px';">
          <apx-chart
            [series]="chartOptionsRB.series"
            [chart]="chartOptionsRB.chart"
            [xaxis]="chartOptionsRB.xaxis"
            [yaxis]="chartOptionsRB.yaxis"
            [dataLabels]="chartOptionsRB.dataLabels"
            [stroke]="chartOptionsRB.stroke"
            [legend]="chartOptionsRB.legend"
            [fill]="chartOptionsRB.fill"
            [states]="chartOptionsRB.states"
            [tooltip]="chartOptionsRB.tooltip"
            [colors]="chartOptionsRB.colors"
            [markers]="chartOptionsRB.markers"
            [plotOptions]="chartOptionsRB.plotOptions"
          ></apx-chart>
        </div>
        <span class="text-muted font-weight-bold mt-2">Last 7 days Performance</span>
      </div>
    </div>
    <!--begin::Chart-->
    <div
      id="kt_stats_widget_11_chart"
      class="card-rounded-bottom"
      [style.height]="'150px'"
    >
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [yaxis]="chartOptions.yaxis"
        [dataLabels]="chartOptions.dataLabels"
        [stroke]="chartOptions.stroke"
        [legend]="chartOptions.legend"
        [fill]="chartOptions.fill"
        [states]="chartOptions.states"
        [tooltip]="chartOptions.tooltip"
        [colors]="chartOptions.colors"
        [markers]="chartOptions.markers"
        [plotOptions]="chartOptions.plotOptions"
      >
      </apx-chart>
    </div>
    <!--end::Chart-->
    <!--end::Stats-->
  </div>
</div>
