<div class="card card-custom gutter-b">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">Employee list</h3>
      </div>
      <div class="card-toolbar">
        <button type="button" class="btn btn-primary" (click)="create()">Add Employee</button>
      </div>
    </div>
    <div class="card-body">
      <!-- begin: Filtration form -->
      <div class="form form-label-right">
        <div class="form-group row">

          <div class="col-lg-2" [formGroup]="searchGroup">
            <input type="text" class="form-control" name="searchText" placeholder="Search" value=""
              formControlName="searchTerm" /><small class="form-text text-muted"><b>Search</b> in all fields</small>
          </div>
        </div>
      </div>
      <!-- end: Filtration form -->


      <!-- begin:Table -->
      <div class="table-responsive angular-bootstrap-table">
        <table class="table table-head-custom table-vertical-center overflow-hidden">
          <thead>

            <th>
              ID
              <app-sort-icon column="id" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
                (sort)="sort($event)"></app-sort-icon>
            </th>
            <th>
              USER NAME
              <app-sort-icon column="userName" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
                (sort)="sort($event)"></app-sort-icon>
            </th>

            <th>
              EMAIL

            </th>
            <th>
              MOBILE No

            </th>
            <th>
              TEAM
              <app-sort-icon column="team" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
                (sort)="sort($event)"></app-sort-icon>
            </th>
            <th>
              GROUP
              <app-sort-icon column="team.groupName" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
                (sort)="sort($event)"></app-sort-icon>
            </th>
            <th>
              STATUS
              <app-sort-icon column="status" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
                (sort)="sort($event)"></app-sort-icon>
            </th>
            <th>
              Work From

            </th>
            <th>ACTIONS</th>
          </thead>
          <tbody>
            <tr *ngFor="let customer of userService.items$ | async">

              <td>{{ customer.user.userId }}</td>
              <td>{{ customer.user.userName }} {{ customer.user.lastName }}</td>
              <td>{{ customer.user.mediaList[0].emailId }}</td>
              <td>{{ customer.user.mediaList[0].mobileNo }}</td>
              <td>{{ customer.user.team.teamName }}</td>
              <td>{{ customer.user.team.groupName }}</td>
              <td>
                <span class="label label-lg label-inline" [class.label-light-danger]="customer.employmentStatus === 'Suspended'"
                  [class.label-light-success]="customer.employmentStatus === 'Active'" [class.label-light-primary]="customer.employmentStatus === 'Pending'">
                  <ng-container *ngIf="customer.employmentStatus === 'Suspended'">Suspended</ng-container>
                  <ng-container *ngIf="customer.employmentStatus === 'ResetPassword'">ResetPassword</ng-container>
                  <ng-container *ngIf="customer.employmentStatus === 'Active'">Active</ng-container>
                  <ng-container *ngIf="customer.employmentStatus === 'Pending'">Pending</ng-container>
                </span>
              </td>
              <td>
                <span class="label label-dot label-primary mr-2" [class.label-success]="customer.workMode === 'WFO'"
                  [class.label-primary]="customer.workMode === 'WFH'"></span>&nbsp;<span class="font-bold font-primary">
                  <ng-container *ngIf="customer.workMode === 'WFO'">Office</ng-container>
                  <ng-container *ngIf="customer.workMode === 'WFH'">Home</ng-container>
                </span>
              </td>
              <td>

                <a title="Edit User" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
                  (click)="edit(customer.user.userId)">
                  <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                    class="svg-icon svg-icon-md svg-icon-primary">
                  </span>
                </a>
                <a title="Add HR Details for User" class="btn btn-icon btn-light btn-hover-primary btn-sm"
                (click)="addHR(customer.user.id, customer.user.userName)">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Contact1.svg'" cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-primary">
                </span>
              </a>
              <a title="Add IT Records for User" class="btn btn-icon btn-light btn-hover-primary btn-sm"
                  (click)="addIT(customer.user.id, customer.user.userName)">
                  <span [inlineSVG]="'./assets/media/svg/icons/Devices/LTE2.svg'" cacheSVG="true"
                    class="svg-icon svg-icon-md svg-icon-primary">
                  </span>
                </a>
                <a title="Delete customer" class="btn btn-icon btn-light btn-hover-danger btn-sm"
                  (click)="delete(customer.user.userId)">
                  <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
                    class="svg-icon svg-icon-md svg-icon-danger">
                  </span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end: Table -->
      <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
        [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator>
    </div>
  </div>
