


<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">My Attendance </h3>
      <select class="form-control form-control-lg form-control-solid" name="monthYear" (change)="setMonth($event.target.value)">
        <option [ngValue]="0" [selected]=true>Select Month</option>
        <option *ngFor="let month of employeeMonthList" [value]="month.value">
          {{ month.label }}
        </option>
      </select>
      &nbsp;&nbsp;
      <button type="button" id="TimeSheet" mat-mini-fab color="primary" (click)= "refresh()">
        <mat-icon >refresh</mat-icon>
      </button>
    </div>
<!--
      <div class="form-group row">

      <div class="col-lg-1">
      OR
      </div>
      <div class="col-lg-3">
      <label>From Date</label>
      <div class="input-group input-group-solid">
        <input type="text" name="fromDate"  class="form-control form-control-lg form-control-solid" autocomplete="off"
          placeholder="mm/dd/yyyy" ngbDatepicker  #fromDate="ngbDatepicker" formControlName="fromDate" readonly="true" (onChange)="setFromDate($event.target.value)" />
        <div class="input-group-append" (click)="fromDate.toggle()">
          <span class="input-group-text">
            <i class="text-dark-50 flaticon-calendar"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <label>To Date</label>
      <div class="input-group input-group-solid">
        <input type="text" name="toDate"  class="form-control form-control-lg form-control-solid" autocomplete="off"
          placeholder="mm/dd/yyyy" ngbDatepicker  #toDate="ngbDatepicker" formControlName="toDate" readonly="true" (ngModel)="toDate" (onChange)="setToDate($event.target.value)"/>
        <div class="input-group-append" (click)="toDate.toggle()">
          <span class="input-group-text">
            <i class="text-dark-50 flaticon-calendar"></i>
          </span>
        </div>
      </div>
      </div>
      <div class="col-lg-2">
        <label> &nbsp;</label>
        <button type="button" class="btn btn-primary btn-elevate" (click)="searchDates()" >Search</button>
      </div>
    </div>
-->
  </div>

    <!-- end: Filtration form -->


    <!-- begin:Table -->
    <div class="table-responsive angular-bootstrap-table">
      <table id="tablebox" class="table table-head-custom table-vertical-center ">
        <thead>
          <tr>
            <th nowrap style="text-align: center;">TimeSheet

            </th>
          <th class="sticky-header" style="text-align: center;" nowrap >
            Date

          </th>
          <th class="sticky-header" style="text-align: center;" nowrap >
            Attendance

          </th>
          <th class="sticky-header"  style="text-align: center;" >
            Work Mode

          </th>


          <th nowrap style="text-align: center;">
            Status

          </th>

          <th  style="text-align: center;">
            Billable Hours

          </th>

          <th style="text-align: center;" >
            Non Billable Hours

          </th>
          <th  style="text-align: center;">Total Hours</th>

          <th  style="text-align: center;">OT Hours</th>
          <th  style="text-align: center;">Time Discrepancies</th>
          <th nowrap >
            Reason for Leave

          </th>
          <th nowrap >
            Remarks

          </th>


        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let timeSheet of timeSheetService.items$ | async">
            <td style="text-align: center;">
              <ng-container *ngIf="timeSheet.editable">
                <button type="button" id="TimeSheet" mat-mini-fab color="primary" (click)= "addTimeSheet(timeSheet)">
                  <mat-icon >edit</mat-icon>
                </button>
              </ng-container>
              <ng-container *ngIf="!timeSheet.editable">
                <button type="button" id="TimeSheet" mat-mini-fab disabled>
                  <mat-icon >edit</mat-icon>
                </button>
              </ng-container>
            </td>
            <td style="text-align: center;" noWrap>{{ timeSheet.attendance.date | date: 'dd-MMM-yyyy'}} </td>
          <td style="text-align: center;">
            <span class="label label-lg label-inline" [class.label-light-danger]="timeSheet.attendance.symbol === 'Le'"
              [class.label-light-success]="timeSheet.attendance.symbol === 'P12'" [class.label-light-success]="timeSheet.attendance.symbol === 'P8'"
              [class.label-light-primary]="timeSheet.attendance.symbol === 'Ho'"[class.label-light-danger]="timeSheet.attendance.symbol === 'A'">
              <ng-container *ngIf="timeSheet.attendance.symbol === 'P8'">P8</ng-container>
              <ng-container *ngIf="timeSheet.attendance.symbol === 'P12'">P12</ng-container>
              <ng-container *ngIf="timeSheet.attendance.symbol === 'P4'">P4</ng-container>
              <ng-container *ngIf="timeSheet.attendance.symbol === 'MeL'">MeL</ng-container>
              <ng-container *ngIf="timeSheet.attendance.symbol === 'LnL'">LnL</ng-container>
              <ng-container *ngIf="timeSheet.attendance.symbol === 'Le'">Le</ng-container>
              <ng-container *ngIf="timeSheet.attendance.symbol === 'Ho'">Ho</ng-container>
              <ng-container *ngIf="timeSheet.attendance.symbol === 'A'">A</ng-container>
              <ng-container *ngIf="timeSheet.attendance.symbol === '-'">N</ng-container>
            </span>
          </td>
          <td style="text-align: center;">{{ timeSheet.attendance.mode }}</td>

            <td style="text-align: center;">

              <span title="{{timeSheet.comments}}" class="label label-lg label-inline" [class.label-light-danger]="timeSheet.status === 'Rejected'" [class.label-light-warning]="timeSheet.status === 'Pending'" [class.label-light-success]="timeSheet.status === 'Approved'">
                {{timeSheet.status === 'Approved' || timeSheet.status === 'Rejected' || timeSheet.status === 'Pending' ? timeSheet.status:timeSheet.attendance.status }}
              </span>
            </td>


            <td style="text-align: center;">
              {{ timeSheet.hoursBillable }}
            </td>
            <td style="text-align: center;">
              {{ timeSheet.totalNBHours}}
            </td>

            <td style="text-align: center;">
              {{ timeSheet.totalHours }}
            </td>

            <td style="text-align: center;">
              {{ timeSheet.hoursOTApproved }}
            </td>
            <td style="text-align: center;">{{ timeSheet.discrepencies }}</td>
            <td>{{ timeSheet.attendance.leaveReason }}</td>
            <td>{{ timeSheet.attendance.remarks }}</td>

          </tr>
        </tbody>
      </table>
    </div>
    <!-- end: Table -->
  </div>

