<div class="card card-custom card-stretch gutter-b">
  <!-- Header -->
  <div class="card-header align-items-center border-0 mt-4">
    <h3 class="card-title align-items-start flex-column">
      <span class="font-weight-bolder text-dark">My Activity</span>
      <span class="text-muted mt-3 font-weight-bold font-size-sm"
        >Testdata</span
      >
    </h3>
    
  </div>
  <!-- Body -->
  <div class="card-body pt-4">
    <div class="timeline timeline-6 mt-3">
      <!--begin::Item-->
      <div class="timeline-item align-items-start">
        <!--begin::Label-->
        <div
          class="timeline-label font-weight-bolder text-dark-75 font-size-lg"
        >
          18:02
        </div>
        <!--end::Label-->

        <!--begin::Badge-->
        <div class="timeline-badge">
          <i class="fa fa-genderless text-warning icon-xl"></i>
        </div>
        <!--end::Badge-->

        <!--begin::Text-->
        <div
          class="font-weight-mormal font-size-lg timeline-content text-muted pl-3"
        >
          Log Out
        </div>
        <!--end::Text-->
      </div>
      <!--end::Item-->

      <!--begin::Item-->
      <div class="timeline-item align-items-start">
        <!--begin::Label-->
        <div
          class="timeline-label font-weight-bolder text-dark-75 font-size-lg"
        >
          09:00
        </div>
        <!--end::Label-->

        <!--begin::Badge-->
        <div class="timeline-badge">
          <i class="fa fa-genderless text-success icon-xl"></i>
        </div>
        <!--end::Badge-->

        <!--begin::Content-->
        <div class="timeline-content d-flex">
          <span class="font-weight-bolder text-dark-75 pl-3 font-size-lg"
            >Log In</span
          >
        </div>
        <!--end::Content-->
      </div>
      <!--end::Item-->

      <!--begin::Item-->
      <div class="timeline-item align-items-start">
        <!--begin::Label-->
        <div
          class="timeline-label font-weight-bolder text-dark-75 font-size-lg"
        >
          14:37
        </div>
        <!--end::Label-->

        <!--begin::Badge-->
        <div class="timeline-badge">
          <i class="fa fa-genderless text-danger icon-xl"></i>
        </div>
        <!--end::Badge-->

        <!--begin::Desc-->
        <div
          class="timeline-content font-weight-bolder font-size-lg text-dark-75 pl-3"
        >
          Log out
          
        </div>
        <!--end::Desc-->
      </div>
      <!--end::Item-->

      <!--begin::Item-->
      <div class="timeline-item align-items-start">
        <!--begin::Label-->
        <div
          class="timeline-label font-weight-bolder text-dark-75 font-size-lg"
        >
          6:50
        </div>
        <!--end::Label-->

        <!--begin::Badge-->
        <div class="timeline-badge">
          <i class="fa fa-genderless text-primary icon-xl"></i>
        </div>
        <!--end::Badge-->

        <!--begin::Text-->
        <div
          class="timeline-content font-weight-mormal font-size-lg text-muted pl-3"
        >
          Log In
        </div>
        <!--end::Text-->
      </div>
      <!--end::Item-->

     
    </div>
  </div>
</div>
