<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Leave Management System</h3>
    </div>
    <div class="card-title1">
      Leave Balance :{{leaveService.leaveBalanceCount$}}
    </div>
    <div class="card-title1">
      Approved Leave :{{leaveService.approvedLeaveCount$}}
    </div>
    <div class="card-title1">
      Unapproved Leave :{{leaveService.unApprovedLeaveCount$}}
    </div>
    <div class="card-toolbar">
      <button type="button" class="btn btn-primary" (click)="applyLeave(2)">Apply Leave</button>
    </div>

  </div>
  <div class="card-body">





        <!-- begin:Table -->
        <div class="table-responsive angular-bootstrap-table">
          <table id="tablebox" class="table table-head-custom table-vertical-center ">
            <thead>
              <tr>
                <th style="text-align: center;">Sl No.</th>
                <th style="text-align: center;">From Date</th>
                <th style="text-align: center;">To Date</th>
                <th style="text-align: center;">Days Applied</th>
                <th style="text-align: center;">Detected Leaves</th>
                <th style="text-align: center;">Leave Type</th>
                <th style="text-align: center;">Created On</th>
                <th style="text-align: center;">Approved On</th>
                <th style="text-align: center;">Status</th>
                <th style="text-align: center;">Leave Reason</th>
                <th style="text-align: center;">Action</th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let leave of leaveService.items$ | async">

                <td noWrap style="text-align: center;">{{ leave.slNo}} </td>
                <td noWrap style="text-align: center;">{{ leave.fromDate}} </td>
                <td noWrap style="text-align: center;">{{ leave.toDate}} </td>
                <td noWrap style="text-align: center;">{{ leave.noOfDays}} </td>
                <td noWrap style="text-align: center;">{{ leave.detectedLeave}} </td>
                <td noWrap style="text-align: center;">{{ leave.symbol=='P4'?"Half Day":leave.symbol}} </td>
                <td noWrap style="text-align: center;">{{ leave.createdDate}} </td>
                <td noWrap style="text-align: center;">{{ leave.modifiedDate}} </td>
                <td noWrap style="text-align: center;">{{ leave.status}} </td>
                <td noWrap>{{ leave.reason}} </td>
                <td noWrap style="text-align: center;">
                  <ng-container *ngIf="leave.editable">
                    <button type="button" class="btn btn-danger btn-elevate" (click)="cancel(leave.leaveId)" >Cancel</button>
                  </ng-container>
                  <ng-container *ngIf="!leave.editable">
                    <button type="button" class="btn btn-danger btn-elevate" disabled>Cancel</button>

                  </ng-container>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end: Table -->
      </div>


  </div>
