<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Team List</h3>
    </div>
    <div class="card-toolbar">
      <div class="grid-item" style="cursor: pointer">
        &nbsp;&nbsp;
        <button type="button" class="btn btn-primary" (click)="exportExcel()">
          Export Excel
        </button>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <button type="button" class="btn btn-primary" (click)="create()">
        Create Team
      </button>
    </div>
  </div>

  <div class="card-body">
    <!-- begin: Filtration form -->
    <div class="form form-label-right">
      <div class="form-group row" [formGroup]="searchGroup">
        <div class="col-lg-2">
          <ng-container *ngIf="showDepartment">
            <label>Department</label>
            <select
              class="form-control form-control-lg"
              name="department"
              [(ngModel)]="department"
              (change)="setDepartment($event.target.value)"
            >
              <option [ngValue]="0" [selected]="true">Select Department</option>
              <option
                *ngFor="let department of departmentList"
                [ngValue]="department.departmentId"
              >
                {{ department.departmentName }}
              </option>
            </select>
          </ng-container>
          <ng-container *ngIf="!showDepartment">
            <label>Department</label><br />
            <span>{{ departmentName }}</span>
          </ng-container>
        </div>

        <div class="col-lg-2">
          <ng-container *ngIf="showDivision">
            <label>Division</label>
            <select
              class="form-control form-control-lg"
              name="division"
              [(ngModel)]="division"
              (change)="setDivision($event.target.value)"
            >
              <option [ngValue]="0" [selected]="true">Select Division</option>
              <option
                *ngFor="let division of divisionList"
                [ngValue]="division.divisionId"
              >
                {{ division.divisionName }}
              </option>
            </select>
          </ng-container>
          <ng-container *ngIf="!showDivision">
            <label>Division</label><br />
            <span>{{ divisionName }}</span>
          </ng-container>
        </div>
        <div class="col-lg-2">

            <label>Group</label>
            <select
              class="form-control form-control-lg"
              name="division"
              [(ngModel)]="group"
              (change)="setGroup($event.target.value)"
            >
              <option [ngValue]="0" [selected]="true">Select Group</option>
              <option
                *ngFor="let group of groupList"
                [ngValue]="group.teamId"
              >
                {{ group.teamName }}
              </option>
            </select>
        </div>

        <div class="col-lg-2 nowrap">
          <div class="row">
            <div class="column"><label>Search </label>
              <input
                type="search"
                class="form-control"
                name="searchText"
                id="searchText"
                placeholder="Search"
                value=""
                formControlName="searchTerm"
              />
          </div>

        </div>
      </div>
          <div class="col-lg-2 nowrap">
            <div class="row">
            <div class="column" style="cursor: pointer;"><br> &nbsp;
              <i title="Clear Filter" (click)="clearFilter()" class="fas fa-filter fa-2x"></i>
            </div>
    </div>

      </div>




        <!-- <div class="col-lg-3" >
          <label>Search in all fields</label>
          <div class="grid-container">
            <div class="grid-item">
              <input
                type="search"
                class="form-control"
                name="searchText"
                id="searchText"
                placeholder="Search"
                value=""
                formControlName="searchTerm"
              />

        <!--        <div  class="col-lg-3">
        <label>&nbsp;</label><br/>
        <button type="button" class="btn btn-primary" (click)="adgroup()">Add Group to Project</button>
      </div>
      <div class="col-lg-2" >
-->
        <!-- <div class="grid-item" style="cursor: pointer">
          &nbsp;<br />&nbsp;

          <i
            title="Clear Filter"
            (click)="clearFilter()"
            class="fas fa-filter fa-2x"
          ></i>
        </div>
      </div>
    </div>
</div> -->
</div>
</div>
  <div class="table-responsive angular-bootstrap-table">
    <table id="tablebox" class="table table-head-custom table-vertical-center">
      <thead>
        <tr>
          <th class="sticky-header">Edit</th>


          <th nowrap>Team Name</th>
          <th>Project Leader's Name</th>
          <th>Project Manager Name</th>
          <th>Reporting Group Name</th>
          <th nowrap>Display Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let group of groupTeamService.items$ | async">
          <td>
            <a
              title="Edit Team"
              class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
              (click)="
                editTeam(
                  group.teamId, group.divisionName
                )
              "
            >
              <span
                [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'"
                cacheSVG="true"
                class="svg-icon svg-icon-md svg-icon-primary"
              >
              </span>
            </a>
          </td>
              <td>
            {{ group.teamName }}
          </td>
          <td>
            {{ group.reportingName}}
          </td>
          <td>
            {{ group.parentReportingTo }}
          </td>
          <td>
            {{ group.groupName}}
          </td>
          <td>
            {{ group.status?'Active':'Inactive'}}
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    <app-paginator
      class="d-flex justify-content-between align-items-center flex-wrap"
      [paginator]="paginator"
      [isLoading]="isLoading"
      (paginate)="paginate($event)"
    ></app-paginator>
  </div>
</div>

