<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
        Project Code:   {{task.coreData.roadData.projectName}}
    </div>
    <div class="modal-title small h2" id="example-modal-sizes-title-lg">

      Work Unit Status
  </div>
    <div class="modal-title h4" id="example-modal-sizes-title-lg">

      File Allocated Date :   {{ task.coreData.roadData.receivedDate | date: 'dd-MMM-yyyy'}}
    </div>
  </div>
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
        Work Unit #:   {{task.coreData.roadData.workUnitId}}
    </div>

    <div class="modal-title h4" id="example-modal-sizes-title-lg">

      File Completed Date :{{task.processedDate | date: 'dd-MMM-yyyy'}}
    </div>
  </div>
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
        Process Name :   {{queue}}
    </div>

    <div class="modal-title h4" id="example-modal-sizes-title-lg">

      <div class="stop-watch">
        <div class="display">{{format(mm)}}:{{format(ss)}}:{{format(ms)}}</div>
      </div>
    </div>
  </div>
  <div class="overlay overlay-block cursor-default modal-body" style="min-height: 404px;">


        <!--end::Header-->
        <!--begin::Content-->
        <div class="tab-content">
          <!--begin::Tabpane-->

          <div class="form-group row">
            <div class="col-lg-2">
              <label class="form-label"><b>SUB COUNTRY NAME :</b> <br/>{{ task.coreData.roadData.subCountryName}}</label>

            </div>
            <div class="col-lg-1">
              <label class="form-label"><b>WUMILES&nbsp;: </b><br/>{{ task.coreData.roadData.wuMiles }}</label>
            </div>
            <div class="col-lg-2">
              <label class="form-label"><b>Estimated Time : </b><br/>{{ estimatedTime }}(Minutes)</label>
            </div>
            <div class="col-lg-2">
              <label class="form-label"><b>Actual Time : </b><br/>{{ actualTime }}(Minutes)</label>
            </div>
            <div class="col-lg-2">
              <label class="form-label"><b>Efficiency % : </b><br/>{{ efficiency }}% </label>
            </div>
            <div class="col-lg-3">
              <label>Reason for low efficiency(if < 100%)</label>
             <!-- <select class="form-control form-control-lg form-control-solid" name="reason"
                 id="reason" (change)="getReason($event.target.value)">
                 <option value ="">Please Select Reason</option>
                <option *ngFor="let reason of reasonList" [ngValue]="reason.reasonId">
                  {{ reason.reason }}
                </option>
              </select>-->
              <input type="text" class="form-control form-control-lg form-control-solid  " name="lowEffReason"
              placeholder="Low Efficiency Reason" autocomplete="off" formControlName="lowEffReason" />

            </div>

          </div>
        <div class="form-group row">
          <div class="col-lg-3">
            <label class="form-label"><b>ROAD NAME : </b><br/>{{ task.coreData.roadData.roadTypeMap.roadName }}</label>

          </div>
          <div class="col-lg-4">
            </div>
          <div class="col-lg-4">
            <label>Remarks</label>
            <textarea class="form-control form-control-lg form-control-solid" name="remarks" placeholder="remarks" [(ngModel)]="remarks"
              autocomplete="off"   formControlName="remarks" ></textarea>

          </div>
        </div>
    <ng-container *ngIf="task.coreData.roadData.roadTypeMap.multiType">
      <div class="form-group row">
        <label class="form-label"><b>Multi RoadType Details</b></label>
        </div>
      <div class="form-group row">
        <div class="col-lg-3">
          <label class="form-label"><b>Primary Non-Div Motorways Miles: </b><br/>{{task.coreData.roadData.roadTypeMap.roadTypeList[0].miles}}</label>

        </div>
        <div class="col-lg-3">
          <label class="form-label"><b>Primary Non-Div Trunk Miles : </b><br/>{{ task.coreData.roadData.roadTypeMap.roadTypeList[1].miles }}</label>

        </div>
        <div class="col-lg-3">
          <label class="form-label"><b>Primary Non-Div Urban Miles : </b><br/>{{ task.coreData.roadData.roadTypeMap.roadTypeList[2].miles }}</label>

        </div>
        <div class="col-lg-3">
          <label class="form-label"><b>Access Ramp: </b><br/>{{task.duration}}</label>

        </div>
      </div>
    </ng-container>
  </div>
  <div class="form-group row">


  </div>
  <div class="form-group row">
    <div class="col-lg-4">



    </div>


  </div>
  <div class="form-group row">
    <ng-container *ngIf="showEditable">
      <div class="col-lg-1 button-row" ></div>
      <ng-container *ngIf="buttonType == 1">
      <div class="col-lg-1 button-row" >
          <button type="button" id="Start" mat-fab color="primary" (click)=start(task.allocationId)>Start</button>
      </div>
    </ng-container>
    <ng-container *ngIf="buttonType == 2">
      <div class="col-lg-1 button-row" >
        <button type="button" id="Pause" mat-fab color="accent" (click)=pause(task.allocationId)>Pause</button>
      </div>
    </ng-container>
    <ng-container *ngIf="buttonType == 3">
      <div class="col-lg-1 button-row" >
        <button type="button" id="Pause" mat-fab color="accent" (click)=resume(task.allocationId)>Resume</button>
      </div>
    </ng-container>
      <div class="col-lg-1">
        <button type="button" id="Stop" mat-fab color="warn" (click)=stop(task.allocationId)>Stop</button>
      </div>
      <div class="col-lg-1">
        <button type="button" id="Hold" mat-fab color="primary" (click)=hold(task.allocationId)>Hold</button>
      </div>
      <ng-container *ngIf="showReject">
      <div class="col-lg-2">
        <button type="button" id="Reject" mat-fab color="primary" (click)=reject(task.allocationId)>Reject</button>
      </div>
      </ng-container>
      <div class="col-lg-4" *ngIf="showReasons">
        <label>Select Reason for on Hold</label>
        <select class="form-control form-control-lg form-control-solid" name="reason"
          id="reason" (change)="getReason($event.target.value)">
          <option value ="">Please Select Reason</option>
          <option *ngFor="let reason of reasonList" [ngValue]="reason.reasonId">
            {{ reason.reason }}
          </option>
        </select>
      </div>
    </ng-container>
  </div>
  <!--end::Tabpane-->
  <div class="modal-footer">
    <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Cancel</button>


  </div>
</div>
