

// Buttons
.mat-fab,
.mat-mini-fab,
.mat-button,
.mat-raised-button,
.mat-stroked-button,
.mat-icon-button {
    outline: none !important;
}

mat-radio-button {
	padding-right: 16px;
}

mat-radio-button {
	.mat-radio-label { margin-bottom: 4px; }
}

.stop-watch {
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  font-size: 1.5em;
  padding: 30px;
}

.control {
  width: 300px;
  padding: 5px;
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #f44336;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.control:hover {
  background: #f44336;
  color: aliceblue;
}
