<div class="form-group row ">
  <div class="col-lg-6 top-margin-text">
  <label class="form-label"><b>Mark Attendance</b></label>
  </div>
  <div class="col-lg-2 top-margin-button">
    <button type="button" id="12hrs" mat-mini-fab color="primary" (click)= "markAttendance()">12 Hrs</button>
  </div>
  <div class="col-lg-2 top-margin-button">
    <button type="button" id="8hrs" mat-mini-fab color="primary"  (click)= "markAttendance()">8 Hrs</button>
  </div>
  <div class="col-lg-2 top-margin-button">
    <button type="button" id="4hrs" mat-mini-fab color="primary" (click)= "markAttendance()" >4 Hrs</button>
  </div>
</div>

