<div class="form-group row ">
  <div class="col-lg-6 top-margin-text">
  <label class="form-label"><b>Mark Attendance</b></label>
  </div>
  <div class="col-lg-2 top-margin-button">
    <button type="button" id="Present_12_Hours" mat-mini-fab color="primary" (click)= "markAttendance('Present_12_Hours')">12 H</button>
  </div>
  <div class="col-lg-2 top-margin-button">
    <button type="button" id="Present_8_Hours" mat-mini-fab color="primary"  (click)= "markAttendance('Present_8_Hours')">8 H</button>
  </div>
  <div class="col-lg-2 top-margin-button">
    <button type="button" id="Present_4_Hours" mat-mini-fab color="primary" (click)= "markAttendance('Present_4_Hours')" >4 H</button>
  </div>
</div>

