<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      <b><label class="heading">
      <ng-container >
        <ng-container  *ngIf="!isEdit">Create SubCountry </ng-container>
        <ng-container  *ngIf="isEdit">Edit SubCountry </ng-container>

      </ng-container>
    </label></b>
    </div>
    <button type="button" #closebutton class="close" data-dismiss="modal" (click)="modal.dismiss()">&times;</button>
    </div>

    <div class="overlay overlay-block cursor-default modal-body" style="min-height: 404px;">
      <ng-container *ngIf="isLoading$ | async">
        <div class="overlay-layer bg-transparent">
          <div class="spinner spinner-lg spinner-success"></div>
        </div>
      </ng-container>


      <ng-container *ngIf="subCountry">
        <form action="#" class="form form-label-right" [formGroup]="formGroup">



          <div class="form-group row">
            <div class="col-lg-3">
              <label class="form-label">SubCountry Name</label>
              <input type="text" class="form-control form-control-lg form-control-solid" name="countryName"
                placeholder="SubCountry Name" autocomplete="off" formControlName="countryName" />

            </div>

            <div class="col-lg-3">
              <label class="form-label">Priority</label>
              <select class="form-control form-control-lg form-control-solid" name="priority"
                 formControlName="priority">
                <option value="High">High</option>
                <option value="Medium">Medium</option>
                <option value="Low">Low</option>
              </select>
              </div>

              <div class="col-lg-3">
                <label>Display Status </label>
                <select class="form-control form-control-lg form-control-solid" name="displayStatus"
                   formControlName="dStatus">
                  <option value="Active">Active</option>
                  <option value="Inactive">Inactive</option>

                </select>

              </div>


            </div>
          </form>
        </ng-container>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Cancel</button>
          <ng-container *ngIf="subCountry">

            <button type="submit" class="btn btn-primary btn-elevate" (click)="save()"
              >Save</button>
          </ng-container>
        </div>


    </div>
