+<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">PO dual-list</h3>

    </div>
    <div class="card-toolbar">
      <button type="button" class="btn btn-primary" (click)="createPO()">Add PO</button>
      <button type="button" #closebutton class="close" data-dismiss="modal" (click)="close()">&times;</button>
    </div>

  </div>

  </div>
  <div style=" padding: 10px 25px 25px 30px;">
  <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8" >


    <!-- Name Column -->
    <ng-container matColumnDef="poNumber">
      <mat-header-cell *matHeaderCellDef> PO Number </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.poNumber}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="poDate">
      <mat-header-cell *matHeaderCellDef> PO Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.poDate}}
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="poLimit">
      <mat-header-cell *matHeaderCellDef> PO Approved Limit</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.poLimit}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Action">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>

      <mat-cell *matCellDef="let el"> <button type="submit" class="btn btn-primary btn-elevate" (click)="delete(el.autoId)" >Delete</button> </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


</div>
