<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Uploaded Files Summary</h3>
    </div>

  </div>
  <div class="card-body">
    <!-- begin: Filtration form -->
    <div class="form form-label-right">
      <div class="form-group row">

        <div class="col-lg-2" [formGroup]="searchGroup">
          <input type="text" class="form-control" name="searchText" placeholder="Search" value=""
            formControlName="searchTerm" /><small class="form-text text-muted"><b>Search</b> in all fields</small>
        </div>
      </div>
    </div>
    <!-- end: Filtration form -->


    <!-- begin:Table -->
    <div class="table-responsive angular-bootstrap-table">
      <table id="tablebox" class="table table-head-custom table-vertical-center ">
        <thead>
          <tr>
          <th class="sticky-header">File Name</th>
          <th nowrap >Trace</th>

          <th nowrap >Total Count</th>
          <th nowrap >Success Count</th>
          <th nowrap >Duplicate Count</th>

          <th nowrap >Updated By</th>
          <th nowrap >Uploaded Date   </th>
          <th nowrap >Description Details</th>
          <th nowrap >Duration</th>
          <th nowrap >Filse Size</th>

        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let uploadFiles of webUploadService.items$ | async">

            <td>  {{ uploadFiles.uploadFileName }}</td>



            <td>
              {{ uploadFiles.trace }}
            </td>

            <td>
              {{ uploadFiles.totalCount }}
            </td>
            <td>
              {{ uploadFiles.successCount }}
            </td>
            <td>
              {{ uploadFiles.duplicateCount }}
            </td>

            <td>
              {{ uploadFiles.byUser.createdUserId }}
            </td>
            <td>

              {{ uploadFiles.createdDate | date: 'dd-MMM-yyyy'}}</td>


            <td>
              {{ uploadFiles.description.substring(0,10)  }}
              <a  class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
              (click)="readMore(uploadFiles.description)">
              <span > ... </span>
              </a>
            </td>
            <td>
              {{ uploadFiles.duration }}
            </td>
            <td>
              {{ uploadFiles.uploadFileSize }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- end: Table -->
    <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
      [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator>
  </div>
</div>
