<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      <b><label class="heading">
      <ng-container >

        <ng-container >Create Task Create </ng-container>
      </ng-container>
    </label></b>
    </div>
    <button type="button" #closebutton class="close" data-dismiss="modal" (click)="modal.dismiss()">&times;</button>
    </div>

    <div class="overlay overlay-block cursor-default modal-body" style="min-height: 404px;">
      <ng-container *ngIf="isLoading$ | async">
        <div class="overlay-layer bg-transparent">
          <div class="spinner spinner-lg spinner-success"></div>
        </div>
      </ng-container>


      <ng-container *ngIf="customer">
        <form action="#" class="form form-label-right" [formGroup]="formGroup">
          <div class="form-group row">
            <div class="col-lg-3">
              <label class="form-label"> Task ID</label>
              <ng-container *ngIf="customer.userId">
                <input type="text" class="form-control form-control-lg form-control-solid" name="taskId" readonly
                placeholder="Task ID" autocomplete="off" [class.is-invalid]="isControlInvalid('taskId')" maxlength=20
                [class.is-valid]="isControlValid('taskId')" formControlName="taskId" />
                 </ng-container>
                 <ng-container *ngIf="!customer.id">
                  <input type="text" class="form-control form-control-lg form-control-solid" name="taskId"
                    placeholder="Task ID" autocomplete="off" [class.is-invalid]="isControlInvalid('taskId')" maxlength=20
                    [class.is-valid]="isControlValid('taskId')" formControlName="taskId" />
                  <div class="invalid-feedback" *ngIf="controlHasError('required', 'taskId')">Project Id is required</div>
                </ng-container>
            </div>
            <div class="col-lg-3">
            <label class="form-label">DEPARTMENT</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="department"
              placeholder="DEPARTMENT" autocomplete="off" [class.is-invalid]="isControlInvalid('department')" maxlength=50
              [class.is-valid]="isControlValid('department')" formControlName="department" />
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'department')">DEPARTMENT Name is required</div>
            <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'department')">DEPARTMENT  Name should have at
              least 3 symbols</div>
            <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'department')">DEPARTMENT Name should have
              maximum 50 characters</div>
          </div>
          <div class="col-lg-3">
            <label class="form-label">Division</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="division"
              placeholder="Division" autocomplete="off" [class.is-invalid]="isControlInvalid('division')" maxlength=50
              [class.is-valid]="isControlValid('division')" formControlName="division" />
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'division')">Division Name is required</div>
            <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'division')">Division Name should have at
              least 3 symbols</div>
            <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'division')">Division Name should have
              maximum 50 characters</div>
          </div>

          <div class="col-lg-3">
            <label class="form-label">Client Name</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="clientName"
              placeholder="Client Name" autocomplete="off" [class.is-invalid]="isControlInvalid('clientName')" maxlength=50
              [class.is-valid]="isControlValid('clientName')" formControlName="clientName" />
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'clientName')">Client Name is required</div>
            <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'clientName')">Client Name should have at
              least 3 symbols</div>
            <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'clientName')">Client Name should have
              maximum 50 characters</div>
          </div>

            </div>
           <div class="form-group row">
            <div class="col-lg-3">
            <label class="form-label">Project Name</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="projectName"
              placeholder="Project Name" autocomplete="off" [class.is-invalid]="isControlInvalid('projectName')" maxlength=50
              [class.is-valid]="isControlValid('projectName')" formControlName="projectName" />
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'projectName')">Project Name is required</div>
            <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'projectName')">Project Name should have at
              least 3 symbols</div>
            <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'projectName')">Project Name should have
              maximum 50 characters</div>
          </div>

            <div class="col-lg-3">
              <label class="form-label">Task Name</label>
              <input type="text" class="form-control form-control-lg form-control-solid" name="taskName"
                placeholder="Task Name" autocomplete="off" [class.is-invalid]="isControlInvalid('taskName')" maxlength=50
                [class.is-valid]="isControlValid('taskName')" formControlName="taskName" />
              <div class="invalid-feedback" *ngIf="controlHasError('required', 'taskName')">Task Name is required</div>
              <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'taskName')">Task Name should have at
                least 3 symbols</div>
              <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'taskName')">Task Name should have
                maximum 50 characters</div>
            </div>

            <div class="col-lg-3">
              <label class="form-label">Billable Type</label>
              <select class="form-control form-control-lg form-control-solid" name="billType"
                [class.is-invalid]="isControlInvalid('billType')" formControlName="billType">
                <option value="b">B</option>
                <option value="nbp">NBP</option>

              </select>
              </div>

              <div class="col-lg-3">
                <label>Display Status </label>
                <select class="form-control form-control-lg form-control-solid" name="displayStatus"
                  [class.is-invalid]="isControlInvalid('displayStatus')" formControlName="displayStatus">
                  <option value="Active">Active</option>
                  <option value="Inactive">Inactive</option>

                </select>
                <div class="feedback">Display <b>Status</b></div>
              </div>


            </div>
          </form>
        </ng-container>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Cancel</button>
          <ng-container *ngIf="customer">

            <button type="submit" class="btn btn-primary btn-elevate" (click)="save()"
              >Save</button>
          </ng-container>
        </div>


    </div>
