<div class="card card-custom gutter-b">
  <div class="form form-label-right">
    <div class="card-header">
    <div class="form-group row">
      <div class="col-lg-4">
          <div class="card-title">
            <h3 class="card-label">My {{selectedQueue}} Task List</h3>
          </div>

       </div>
       <div class="col-lg-2">
          <label>Project</label>
          <select class="form-control form-control-lg form-control-solid" name="project" [(ngModel)]="project"
             formControlName="project" (change)="setProject($event.target.value)">
             <option [ngValue]="0" [selected]=true>Select Project</option>
            <option *ngFor="let project of projectList" [ngValue]="project.projectId">
              {{ project.projectName }}
            </option>
          </select>

        </div>
        <div class="col-lg-2">
          <label>Work Allocation</label>
          <select class="form-control form-control-lg form-control-solid" name="selectedQueue" (change)="selectQueue($event.target.value)"
             formControlName="selectedQueue">
            <option *ngFor="let queue of queueList" [ngValue]="queue.queueId">
              {{ queue.queueName }}
            </option>
          </select>


        </div>
        <div class="col-lg-2">
          <label>Status</label>
          <select class="form-control form-control-lg form-control-solid" name="selectedStatus" (change)="selectTask($event.target.value)"
             formControlName="selectedStatus">
            <option *ngFor="let status of statusList" [ngValue]="status.statusId">
              {{ status.statusName }}
            </option>
          </select>

        </div>
        <div class="col-lg-2" [formGroup]="searchGroup">
          <small class="form-text text-muted"><b>Search</b> in all fields</small>
          <input type="search" class="form-control" name="searchText" placeholder="Search" value=""  formControlName="searchTerm" />

        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <!-- begin: Filtration form -->
    <div class="form form-label-right">
      <div class="form-group row">

      <ng-container *ngIf="hasCheckbox && !hasDeliverToClient">
      <div class="col-lg-3">
        <label>Assign to</label>
        <ng-container *ngIf="hasGroup">
        <select class="form-control form-control-lg form-control-solid" name="selectedUser" (change)="selectUser($event.target.value)"
           formControlName="selectedUser">
          <option *ngFor="let user of assignedToUserGroupList" [ngValue]="user.allotmentId">
            {{ user.displayName }}
          </option>
        </select>
        </ng-container>
        <ng-container *ngIf="!hasGroup">
        <select class="form-control form-control-lg form-control-solid" name="selectedUser" (change)="selectUser($event.target.value)"
           formControlName="selectedUser">
          <option *ngFor="let user of assignedToUserList" [ngValue]="user.employeeId">
            {{ user.fullName }}
          </option>
        </select>
        </ng-container>
        <div class="feedback">Selected Work Units will be  <b>Assigned to</b></div>
      </div>
    </ng-container>
      <div class="col-lg-2" >

        <ng-container *ngIf="hasCheckbox">
          <button type="submit" class="btn btn-primary btn-elevate" (click)="assignWorkUnits()" >
            <ng-container *ngIf="!hasDeliverToClient">
              Assign
            </ng-container>
            <ng-container *ngIf="hasDeliverToClient">
              Deliver To Client
            </ng-container>
          </button>
        </ng-container>
      </div>
      <ng-container *ngIf="hasBatch">
        <div class="col-lg-2">
          <label>Batch</label>
          <select class="form-control form-control-lg form-control-solid" name="batch" [(ngModel)]="batch"
            formControlName="batch" (change)="setProject($event.target.value)">
            <option [ngValue]="0" >Select Batch</option>
            <option [ngValue]="new" [selected]=true>New Batch</option>
            <option *ngFor="let batch of batchList" [ngValue]="batch.value">
              {{ batch.label }}
            </option>
          </select>

      </div>
    </ng-container>
    </div>

  </div>
    <!-- end: Filtration form -->


    <!-- begin:Table -->
    <div class="table-responsive angular-bootstrap-table">
      <table id="tablebox" class="table table-head-custom table-vertical-center ">
        <thead>
          <tr>
            <ng-container *ngIf="hasCheckbox">

             <th><input type="checkbox" id="checkAllBox" (change)="checkAll()"/></th>
            </ng-container>

            <th nowrap >
              WU Id

            </th>

          <th nowrap >WU Received Date </th>


          <th nowrap >WU Miles</th>
          <th nowrap >Sub Country Name</th>
          <th nowrap >Road Type</th>
          <th nowrap >Uploaded Status</th>
          <th nowrap >Current WU Status</th>

          <th nowrap >Completed Miles</th>

          <th >Primary Non-Div Motorways</th>
          <th >Primary Non-Div Trunk</th>
          <th >Primary Non-Div Urban</th>

          <th nowrap >Access Ramp</th>
          <th nowrap >Status</th>
          <th nowrap >Group</th>
          <th nowrap >Team</th>
          <th nowrap >Division Name</th>
          <th nowrap >Project Name</th>




        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of workAllocationService.items$ | async">
            <ng-container *ngIf="hasCheckbox">

              <td>
                <input type="checkbox" id="{{task.allocationId}}"  name="workUnits" value="{{ task.allocationId }}"  (change)="checkBoxWorkUnit(task.allocationId)"/></td>
             </ng-container>
            <td>
              <ng-container *ngIf="hasLink else noLink">
                <a title="Start WorkUnit"  (click)="openWworkUnit(task,selectedQueue, selectedStatus)">{{ task.coreData.roadData.workUnitId }}</a>
               </ng-container>
               <ng-template #noLink>

                  {{ task.coreData.roadData.workUnitId}}
              </ng-template>
              </td>
            <td>

              {{ task.coreData.roadData.receivedDate | date: 'dd-MMM-yyyy'}}</td>


            <td>
              {{ task.coreData.roadData.wuMiles }}
            </td>
            <td>{{ task.coreData.roadData.subCountryName}}</td>

            <td>
              {{ task.coreData.roadData.roadTypeMap.roadName }}
            </td>
            <td>
              {{ task.coreData.roadData.roadTypeMap.roadName }}
            </td>
            <td>
              {{ task.currentQueue }}
            </td>
            <td>
              {{ task.coreData.roadData.roadTypeMap.miles }}
            </td>



            <td>
              {{ task.coreData.roadData.roadTypeMap.multiType? task.coreData.roadData.roadTypeMap.roadTypeList[0].miles:"" }}
            </td>

            <td>
              {{ task.coreData.roadData.roadTypeMap.multiType? task.coreData.roadData.roadTypeMap.roadTypeList[1].miles:"" }}
            </td>

            <td>
              {{ task.coreData.roadData.roadTypeMap.multiType? task.coreData.roadData.roadTypeMap.roadTypeList[2].miles :""}}
            </td>
            <td>
              {{task.duration}}
            </td>
            <td>
              {{ task.status }}
            </td>
            <td>
              {{ task.groupName }}
            </td>
            <td>
              {{ task.teamName }}
            </td>
            <td> {{ task.coreData.roadData.divisionName}}</td>

            <td>
              {{ task.coreData.roadData.projectName }}
            </td>

          </tr>
        </tbody>
      </table>
    </div>
    <!-- end: Table -->
    <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
      [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator>
  </div>
</div>
