<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Project Group List</h3>
    </div>
    <div class="card-toolbar">

      <div class="grid-item" style="cursor: pointer;">
        &nbsp;&nbsp;

      </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <button type="button" class="btn btn-primary" (click)="addgroup()">Add Group List</button>
    </div>
  </div>
  <div class="card-body">
  <!-- begin: Filtration form -->
  <div class="form form-label-right">
    <div class="form-group row" [formGroup]="searchGroup">


      <div class="col-lg-2">
        <ng-container *ngIf="showDepartment">
        <label>Department</label>
        <select class="form-control form-control-lg form-control-solid" name="department"  [(ngModel)]="department"
            (change)="setDepartment($event.target.value)">
          <option [ngValue]="0" [selected]=true>Select Department</option>
          <option *ngFor="let department of departmentList" [ngValue]="department.departmentId">
            {{ department.departmentName }}
          </option>
        </select>
      </ng-container>
      <ng-container *ngIf="!showDepartment">
        <label>Department</label><br/>
        <span>{{departmentName}}</span>
      </ng-container>
      </div>

      <div class="col-lg-2">
        <ng-container *ngIf="showDivision">
        <label>Division</label>
        <select class="form-control form-control-lg form-control-solid" name="division"  [(ngModel)]="division"
            (change)="setDivision($event.target.value)">

           <option [ngValue]="0" [selected]=true>Select Division</option>
          <option *ngFor="let division of divisionList" [ngValue]="division.divisionId">
            {{ division.divisionName }}
          </option>
        </select>
        </ng-container>
        <ng-container *ngIf="!showDivision">
          <label>Division</label><br/>
          <span>{{divisionName}}</span>
        </ng-container>
      </div>
      <!--        <div  class="col-lg-3">
        <label>&nbsp;</label><br/>
        <button type="button" class="btn btn-primary" (click)="adgroup()">Add Group to Project</button>
      </div>
      <div class="col-lg-2" >
-->
          <div class="grid-item" style="cursor: pointer;">
            &nbsp;<br/>&nbsp;

          <i title="Clear Filter" (click)="clearFilter()" class="fas fa-filter fa-2x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end: Filtration form -->
  <!--
  <div style=" padding: 0px 10px 10px 20px;">
    <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8" >
-->

      <!-- Position Column -->
<!--
      Name Column
      <ng-container matColumnDef="countryName">
        <mat-header-cell style="justify-content:left; flex: 0 0 15% !important;" *matHeaderCellDef mat-sort-header left> Country Name </mat-header-cell>
        <mat-cell style="justify-content:left; flex: 0 0 15% !important;" *matCellDef="let element"> {{element.countryName}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="priority">
        <mat-header-cell style="justify-content:left; flex: 0 0 15% !important;" *matHeaderCellDef mat-sort-header left> Priority </mat-header-cell>
        <mat-cell style="justify-content:left; flex: 0 0 15% !important;" *matCellDef="let element"> {{element.priority}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell style="justify-content:left; flex: 0 0 15% !important;" *matHeaderCellDef mat-sort-header left> Display Status </mat-header-cell>
        <mat-cell style="justify-content:left; flex: 0 0 15% !important;" *matCellDef="let element"> {{element.status}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      </div>-->

