<div class="card card-custom bg-gray-100 card-stretch gutter-b">
  <!-- Header -->
  <div class="card-header border-0 bg-danger py-5">
    <h3 class="card-title font-weight-bolder text-white">Work Allocation</h3>
    <div class="card-toolbar">
     
    </div>
  </div>
  <!-- Body -->
  
    <!-- Body -->
  <div class="card-body pt-8">
    <div class="timeline timeline-12 mt-3">
     <!--begin::Item-->
     <div class="timeline-item align-items-start">
      <!--begin::Label-->
      <div
        class="timeline-label font-weight-bolder text-dark-75 font-size-lg align-items-center"
      > 
    Development In Progress
    </div>
    </div>
    </div>
  </div>
</div>
