<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
         <h3 class="card-label">Project List</h3>
    </div>



    <div class="card-toolbar">
      <div class="grid-item" style="cursor: pointer">
        &nbsp;&nbsp;
        <button type="button" class="btn btn-primary" (click)="exportExcel()">
          Export Excel
        </button>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-primary" (click)="create()">
        Add Project
      </button>
    </div>
  </div>


  <div class="card-body">
    <!-- begin: Filtration form -->
    <div class="form form-label-right">
      <div class="form-group row" [formGroup]="searchGroup">
        <div class="col-lg-2">
          <label>Department</label>
          <select
            class="form-control form-control-lg form-control-solid"
            name="department"
            [(ngModel)]="department"
            formControlName="department"
            (change)="setDepartment($event.target.value)"
          >
            <option [ngValue]="0" [selected]="true">Select Department</option>
            <option
              *ngFor="let department of departmentList"
              [ngValue]="department.departmentId"
            >
              {{ department.departmentName }}
            </option>
          </select>
        </div>
        <div class="col-lg-2">
          <label>Division</label>
          <select
            class="form-control form-control-lg form-control-solid"
            name="division"
            [(ngModel)]="division"
            formControlName="division"
            (change)="setDivision($event.target.value)"
          >
            <option [ngValue]="0" [selected]="true">Select Division</option>
            <option
              *ngFor="let division of divisionList"
              [ngValue]="division.divisionId"
            >
              {{ division.divisionName }}
            </option>
          </select>
        </div>
        <div class="col-lg-2">
          <label>Project</label>
          <select
            class="form-control form-control-lg form-control-solid"
            name="project"
            [(ngModel)]="project"
            formControlName="project"
            (change)="setProject($event.target.value)"
          >
            <option [ngValue]="0" [selected]="true">Select Project</option>
            <option
              *ngFor="let project of projectList"
              [ngValue]="project.projectId"
            >
              {{ project.projectName }}
            </option>
          </select>
        </div>
        <div class="col-lg-2">
          <label>Client Name</label>
          <select
            class="form-control form-control-lg form-control-solid"
            name="client"
            [(ngModel)]="client"
            formControlName="client"
            (change)="setClient($event.target.value)"
          >
            <option
              *ngFor="let client of clientList"
              [ngValue]="client.value"
            >
              {{ client.label }}
            </option>
          </select>
        </div>
        <div class="col-lg-2">
          <label>Project Status</label>
          <select
            class="form-control form-control-lg form-control-solid"
            name="projectStatus"
            [(ngModel)]="projectStatus"
            formControlName="projectStatus"
            (change)="setProjectStatus($event.target.value)"
          >
            <option [ngValue]="0" [selected]="true">Select Project Status</option>
            <option selected value="YetToStart">Yet to Start</option>
            <option value="InProgress">in-progress</option>
            <option value="Hold">On Hold</option>
            <option value="Completed">Completed</option>
          </select>
        </div>

        <div class="col-lg-2 nowrap">
          <div class="row">
            <div class="column"><label>Search</label>
              <input
                type="search"
                class="form-control"
                name="searchText"
                id="searchText"
                placeholder="Search"
                value=""
                formControlName="searchTerm"
              />
          </div>
            <div class="column" style="cursor: pointer;"> <br>&nbsp;
              <i title="Clear Filter" (click)="clearFilter()" class="fas fa-filter fa-2x"></i>
            </div>
          </div>




        </div>

        </div>
    </div>
    <!-- end: Filtration form -->

    <!-- begin:Table -->
    <div class="table-responsive angular-bootstrap-table">
      <table
        id="tablebox"
        class="table table-head-custom table-vertical-center"
      >
        <thead>
          <tr>
            <th class="sticky-header">Edit</th>
            <th class="sticky-header" nowrap>Project ID</th>
            <th class="sticky-header" nowrap>Client Name</th>

            <th nowrap>Project Name</th>
            <th nowrap>Project Type</th>
            <th>Project Manager Name</th>
            <th>Project Created Date</th>

            <th>PO Number (if Available)</th>
            <th nowrap>PO Dated</th>
            <th nowrap>Billing Cycle</th>
            <th nowrap>Project Status</th>
            <th nowrap>Deliverables</th>
            <th nowrap>Mode of Delivery</th>

            <th nowrap>Input Receiving Mode</th>
            <th nowrap>Input Type</th>
            <th nowrap>Display in Other UI Project List</th>
            <th nowrap>Total Projected work volume</th>
            <th nowrap>Units of Measurement (UOM)</th>
            <th nowrap>Received Work Volume</th>
            <th nowrap>Estimated Total Hours</th>
            <th nowrap>Planned No. of Resources</th>
            <th nowrap>No. of Days Requried to complete</th>

            <th nowrap>BPS Start Date</th>
            <th nowrap>BPS Planned Completion Date</th>
            <th nowrap>Client Expected Completion Date</th>
            <th nowrap>Project - Actual Completed Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let project of projectService.items$ | async">
            <td>
              <a
                title="Edit Project"
                class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
                (click)="
                  editProject(
                    project.projectId,
                    project.projectName,
                    project.divisionId
                  )
                "
              >
                <span
                  [inlineSVG]="
                    './assets/media/svg/icons/Communication/Write.svg'
                  "
                  cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-primary"
                >
                </span>
              </a>
            </td>
            <td>
              {{ project.projectId }}
            </td>
            <td>{{ project.projectDetail.clientName }}</td>
            <td>{{ project.projectName }}</td>
            <td>
              {{ project.projectDetail.projectType }}
            </td>
            <td>{{ project.projectDetail.projectmanagerName }}</td>
            <td>{{ project.projectDetail.actualCompletedDate }}</td>

            <td>
              {{ project.projectDetail.poNumber }}
            </td>
            <td>
              {{ project.projectDetail.poDated }}
            </td>
            <td>
              {{ project.projectDetail.billingCycle }}
            </td>
            <td>
              {{ project.projectDetail.projectStatus }}
            </td>
            <td>{{ project.projectDetail.deliverables }}</td>
            <td>
              {{ project.projectDetail.modeOfDelivery }}
            </td>
            <td>
              {{ project.projectDetail.inputReceivingMode }}
            </td>
            <td>
              {{ project.projectDetail.inputType }}
            </td>
            <td>
              {{ project.projectDetail.displayInOtherUIProjectList }}
            </td>
            <td>
              {{ project.projectDetail.totalProjectedWorkVolume }}
            </td>
            <td>
              {{ project.projectDetail.unitsOfMeasurement }}
            </td>
            <td>
              {{ project.projectDetail.receivedWorkVolume }}
            </td>
            <td>
              {{ project.projectDetail.estimatedTotalHours }}
            </td>
            <td>
              {{ project.projectDetail.plannedNoOfResources }}
            </td>
            <td>
              {{ project.projectDetail.noOfDaysRequiredToComplete }}
            </td>

            <td>
              {{ project.projectDetail.bpsStartDate | date: 'dd-MMM-yyyy' }}
            </td>
            <td>
              {{
                project.projectDetail.bpsPlannedCompletionDate
                | date: 'dd-MMM-yyyy'
              }}
            </td>
            <td>
              {{
                project.projectDetail.clientExpectedCompletionDate
                | date: 'dd-MMM-yyyy'
              }}
            </td>

            <td>
              {{
                project.projectDetail.actualCompletedDate | date: 'dd-MMM-yyyy'
              }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- end: Table -->
    <app-paginator
      class="d-flex justify-content-between align-items-center flex-wrap"
      [paginator]="paginator"
      [isLoading]="isLoading"
      (paginate)="paginate($event)"
    ></app-paginator>
  </div>
</div>
