label.heading{
  color: #2D349C;
  font-size: 24px;
}

label.subHeading {
  color: rgb(112,178,227);
  font-size: 18px;
  text-decoration: underline;

}
.mat-divider{
  border-top-width: 4px;
  border-top-style: solid;
}
