<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      <ng-container *ngIf="userHRModel">

        HR User Details of {{name}}
        <ng-container *ngIf="userHRModel.id"></ng-container>
      </ng-container>
    </div>
  </div>
  <div class="overlay overlay-block cursor-default modal-body" style="min-height: 404px;">
    <ng-container *ngIf="isLoading$ | async">
      <div class="overlay-layer bg-transparent">
        <div class="spinner spinner-lg spinner-success"></div>
      </div>
    </ng-container>

    <ng-container *ngIf="userHRModel">
      <form action="#" class="form form-label-right" [formGroup]="formGroup">
        <div class="form-group row">
          <div class="col-lg-3">
            <label class="form-label">Enter Bank Account</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="accountNo"
              placeholder="Bank Account Number" autocomplete="off" [class.is-invalid]="isControlInvalid('accountNo')"
              [class.is-valid]="isControlValid('accountNo')" formControlName="accountNo" />

            <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'accountNo')">BroadBand Account should have at
              least 3 symbols</div>
            <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'accountNo')">BroadBand Account should have
              maximum 100 symbols</div>
          </div>
          <div class="col-lg-3">
            <label class="form-label">Enter Bank Name</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="bankName"
              placeholder="Bank Name" autocomplete="off" [class.is-invalid]="isControlInvalid('bankName')"
              [class.is-valid]="isControlValid('bankName')" formControlName="bankName" />
          </div>
          <div class="col-lg-3">
            <label class="form-label">Enter Bank Branch</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="bankBranch"
              placeholder="Bank Branch" autocomplete="off" [class.is-invalid]="isControlInvalid('bankBranch')"
              [class.is-valid]="isControlValid('bankBranch')" formControlName="bankBranch" />
          </div>
          <div class="col-lg-3">
            <label class="form-label">Enter IFSCCode</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="ifscCode"
              placeholder="IFSCCode" autocomplete="off" [class.is-invalid]="isControlInvalid('ifscCode')"
              [class.is-valid]="isControlValid('ifscCode')" formControlName="ifscCode" />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-3">
            <label class="form-label">Enter Highest Graduate</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="highestGraduate"
              placeholder="Highest Graduate" autocomplete="off" [class.is-invalid]="isControlInvalid('highestGraduate')"
              [class.is-valid]="isControlValid('highestGraduate')" formControlName="highestGraduate" />

            <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'highestGraduate')">BroadBand Account should have at
              least 3 symbols</div>
            <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'highestGraduate')">BroadBand Account should have
              maximum 100 symbols</div>
          </div>
          <div class="col-lg-3">
            <label class="form-label">Enter Institution</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="institution"
              placeholder="Institution" autocomplete="off" [class.is-invalid]="isControlInvalid('institution')"
              [class.is-valid]="isControlValid('institution')" formControlName="institution" />
          </div>
          <div class="col-lg-3">
            <label class="form-label">Enter Mark Grade</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="markGrade"
              placeholder="Mark Grade" autocomplete="off" [class.is-invalid]="isControlInvalid('markGrade')"
              [class.is-valid]="isControlValid('markGrade')" formControlName="markGrade" />
          </div>
          <div class="col-lg-3">
            <label class="form-label">Enter Year</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="year"
              placeholder="Year" autocomplete="off" [class.is-invalid]="isControlInvalid('year')"
              [class.is-valid]="isControlValid('year')" formControlName="year" />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-3">
            <label class="form-label">Enter Aadhar</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="highestGraduate"
              placeholder="Aadhar" autocomplete="off" [class.is-invalid]="isControlInvalid('aadhar')"
              [class.is-valid]="isControlValid('aadhar')" formControlName="aadhar" />

            <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'aadhar')">BroadBand Account should have at
              least 3 symbols</div>
            <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'aadhar')">BroadBand Account should have
              maximum 12 symbols</div>
          </div>
          <div class="col-lg-3">
            <label class="form-label">Enter Esic</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="esic"
              placeholder="Esic" autocomplete="off" [class.is-invalid]="isControlInvalid('esic')"
              [class.is-valid]="isControlValid('esic')" formControlName="esic" />
          </div>
          <div class="col-lg-3">
            <label class="form-label">Enter Provident Fund</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="providentFund"
              placeholder="Provident Fund" autocomplete="off" [class.is-invalid]="isControlInvalid('providentFund')"
              [class.is-valid]="isControlValid('providentFund')" formControlName="providentFund" />
          </div>
          <div class="col-lg-3">
            <label class="form-label">Enter Pan</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="pan"
              placeholder="Pan" autocomplete="off" [class.is-invalid]="isControlInvalid('pan')"
              [class.is-valid]="isControlValid('pan')" formControlName="pan" />
          </div>
          <div class="col-lg-3">
            <label class="form-label">Enter Uan</label>
            <input type="text" class="form-control form-control-lg form-control-solid" name="uan"
              placeholder="Uan" autocomplete="off" [class.is-invalid]="isControlInvalid('uan')"
              [class.is-valid]="isControlValid('uan')" formControlName="uan" />
          </div>
        </div>


      </form>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Cancel</button>
    <ng-container *ngIf="userHRModel">

      <button type="submit" class="btn btn-primary btn-elevate" (click)="save()"
        [disabled]="formGroup.invalid">Save</button>
    </ng-container>
  </div>
</div>
